h2 {
    color: #5daa89;
}

li {
    color: #2f4590;
}

body {
    background-color: beige;
}

#work {
    background-color: #81c5f0;
}

#education {
   background-color: #81c5f0;
}

#PB {
   background-color: #81c5f0;
}

#CCA {
    background-color: #81c5f0;
}

#RPP {
     background-color: #81c5f0;
}

#name {
     background-color: #81c5f0;
}



